.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.title h3{
    margin: 5px 0px 0px 0px;
}

.title h1{
    margin: 30px 0px 0px 0px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;   
}

.contents {
    padding: 0 7em 0 7rem;
}

.contents-item img{
    width: 230px;
    height: 200px;
    padding: 10px 10px 0px 10px
}

.contents-item h3, p{
    padding: 0 15px 20px 15px;
}

.contents-item p{
    text-align: right;
}

.contents-item a{
    text-decoration: none;
}
.contents-item{
    border: solid 2px rgb(248, 228, 163);
    background-color: rgb(248, 228, 163);
    width: 250px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}
